<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulary</title>
</head>
<body>
    <h1>Person Fomulary</h1>
    <form th:object="${person}" th:action="${action}" method="post"> <!--1, indicamos a que se le va a añadir lo del formulario   2, indicamos a donde nos va a redirigir   3, Indicamos que vamos a POST crear un nuevo usuario-->
        <label> NAME: <input type="text" th:field="*{name}"> </label><!-- ESTO INDICA QUE ESTE CAMPO ESTA ASOCIADO CON EL ATRIBUTO NAME DEL OBJETO PERSON QUE ENTRA-->
        <label> AGE:<input type="text" th:field="*{age}"> </label>
        <button type="submit">SAVE</button>
    </form>

    <a href="/persons">GO TO THE LIST OF PERSONS</a>
</body>
</html>

