<!DOCTYPE html>
<!--INDICAMOS QUE ES ROYECTO ES CON THYMELEAF-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h1>LIST OF PERSONS</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>ACTIONS</th>
        </tr>
<!-- INDICAMOS QUE VAMOS A ITERAR LA LISTA PERSONS        -->
        <tr th:each="person : ${personsList}">
<!--            ACCEDEMOS A CADA ELEMENTO EN CADA ITERACION-->
            <td th:text ="${person.id}"></td>
            <td th:text ="${person.name}"></td>
            <td th:text ="${person.age}"></td>
<!--            CREAMOS BOTONES-->
            <td>
                <a th:href="@{/persons/update/{id}(id=${person.id})}">EDIT</a> <!--INDICAMOS A DONDE NOS VA A MANDAR AL MOMENTO DE APRENTAR EL BOTON EDITAR-->
                <a href="#">DELETE</a>
            </td>

        </tr>

    </table>

<a href="/persons/new">ADD NEW PERSON</a>
</body>
</html>